.profile-img{
    width: 95%;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-top: 20px;
    object-fit: contain;
    min-height: 250px;
    max-height: 300px;
}

@media only screen and (max-width: 767px){
    .profile-img{
        min-height: 250px;
        max-height: 250px;
    }
  }

@media only screen and (max-width: 400px){
    .profile-img{
        margin-top: 10px;
        min-height: 150px;
        max-height: 150px;
    }
  }
  