.search-sec-container{
border: 1px solid black;
border-radius: 10px;
padding: 10px;

}

.fan-sec-container{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  
  }

.bi{
  font-size: 50px;

}

.search-button{
  width: 50%;
}

.hor-scroller {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.scroller {
  height: 92.5vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.scroller-club {
  height: 81vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.judge{
  font-size: 18px;
}

.red-like{
  color: red;
}

.yellow-fav{
  color: yellow;
}

row{
  padding: 0!important;
  margin: 0!important;
}
