.fan-sec-container{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  
  }

.bi{
  font-size: 40px;

}

.search-button{
  width: 50%;
}

.hor-scroller {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.scroller {
  height: 92.5vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.scroller-club {
  height: 81vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

.judge{
  font-size: 18px;
}

.red-like{
  color: red;
}

.yellow-fav{
  color: yellow;
}

.row{
  padding: 0!important;
  margin: 0!important;
}

.pointer{
  cursor: pointer;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.w-200{
  width: "50px";
}

.chart-container{
  max-width: 75%;
}

.search-compare-button{
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 1150px){
  .chart-container{
    max-width: 90%;
  }

}

@media only screen and (max-width: 767px){
  .chart-container{
    max-width: 85%;
  }
  .search-compare-button{
    width: 50%;
    margin: 0px;
  }

  .add-compare{
   width: 50% !important;
   height: 250px !important;
  }

  .sm-screen-hide{
    display: none;
  }
}

@media only screen and (min-width: 768px){
  .sm-screen-show{
    display: none;
  }
}

@media only screen and (max-width: 400px){
  .chart-container{
    max-width: 100%;
  }
  .search-compare-button{
    width: 50%;
    margin: 0px;
  }

  .add-compare{
   width: 50% !important;
   height: 150px !important;
  }

  .sm-screen-hide{
    display: none;
  }
}

.padding-body{
  padding-left: 10%;
  padding-right: 10%;
}
.padding-body2{
  padding-left: 5%;
  padding-right: 5%;
}

.compare-infos{
  min-height: 250px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
